---
//imports 
    //base layout
    import BaseLayout from "../../layouts/BaseLayout.astro";
    
    //blog posts
    import { getCollection } from "astro:content";
    const allPosts = await getCollection("posts");
    const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

//page title
const pageTitle = "Tag Index";
const blogSubtitle = Astro.props;

---

<BaseLayout pageTitle={pageTitle} | {blogSubtitle} >

    <section id="allposts">
        <div id="Title_Container">
            <h2 class="Page_Title">{pageTitle}</h2>  
        </div>
        <article id="All_Posts">
            <ul>
                {tags.map((tag) => <p><a href={`/tags/${tag}`}>{tag}</a></p>)}
            </ul>
        </article>
    </section>
</BaseLayout>