---

//imports
	//base layout
	import BaseLayout from '../layouts/BaseLayout.astro';

	//blog posts
	import { getCollection } from "astro:content";
	const allPosts = await getCollection("posts");
	
	// blog post excerpts
	import { createExcerpt } from '../components/scripts/create-excerpt.js';

	// storyblok api
	import { useStoryblokApi } from "@storyblok/astro";
	import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
		const storyblokApi = useStoryblokApi();
		const { data } = await storyblokApi.get("cdn/stories/home", {
		version: "draft",
		});
		
		const story = data.story;

// page & blog title
	const pageTitle = "Home Page";
	const { blogTitle } = Astro.props;
	const { blogSubtitle } = Astro.props;

---
<BaseLayout pageTitle={pageTitle}>
	<section id="mainpage">
		<div id="Feature_Container">
			{
				allPosts.map((post) => {
				const excerpt = `${createExcerpt(post.body).substring(0, 500)}...`;
				return (
					<a href={post.slug}>
						<article id="Featured_Post">
							<h3 class="Featured_Post_Title"><a href=`/posts/${post.slug}/`>{post.data.title}</a></h3>
							<p class="Featured Post">  <StoryblokComponent blok={story.content} />
</p>
						</article>
					</a>
				);
				})
			}

		</div>
	</section>
</BaseLayout>
