---
//imports
    //base layout
    import BaseLayout from '../layouts/BaseLayout.astro'

    //blog posts
    const allPosts = await getCollection("posts");
    const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
	
    // blog post excerpts 
    import { createExcerpt } from '../components/scripts/create-excerpt.js';
    import { getCollection } from "astro:content";

//page title
const pageTitle = "Blog Posts";
const { blogSubtitle } = Astro.props;

---
<BaseLayout pageTitle={pageTitle}>
        <section id="mainpage">
            <div id="Feature_Container">
                {
                    allPosts.map((post) => {
                    const excerpt = `${createExcerpt(post.body).substring(0, 2000)}...`;
                    return (
                        <a href={post.slug}>
                            <article id="Featured_Post">
                                <p><h3 class="Featured_Post_Title"><a href=`/posts/${post.slug}/`>{post.data.title}</a></h3></p>
                                <p>{post.data.author}, {post.data.pubDate.toString().slice(0,10)}</p>
                                <p class="Featured Post">{excerpt}</p>
                                <p>Tags: {tags.map((tag) =><a href={`/tags/${tag}`}>{tag} &nbsp;</a>)}</p>

                            </article>
                            
                        </a>
                    );
                    })
                }

            </div>
        </section>
    </BaseLayout>


