---
const { frontmatter } = Astro.props;
import BaseLayout from './BaseLayout.astro';

const { blogSubtitle } = Astro.props;

---

<BaseLayout pageTitle={frontmatter.title} >
<section id="blogpage">
    <div id="Title_Container">
        <h2 class="Page_Title">{frontmatter.title}</h2>
        <h3>Written by {frontmatter.author}</h3>
        <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
        <p>{frontmatter.description}</p>    
    </div>
    <article id="Blog_Post">
        <slot />
    </article>
    <div class="tags">Tags: 
        {frontmatter.tags.map((tag) => (
          <span class="tag"><a href={`/tags/${tag}`}>{tag} &nbsp;</a></span>
        ))}
      </div>
</section>
</BaseLayout>
